/* ==========================================================================

    Icons

	!!! DO NOT CHANGE OR EDIT THIS SECTION FOR INDIVIDUAL ELEMENTS OR PAGES !!!
    !!! ALL ELEMENTS ARE GENERICALLY USED ACROSS THE SITE!!!

   ==========================================================================

    - base styles
    - icons

   ========================================================================== */

i.icon,
.icon-before {
	display: inline-block;
	position: relative;
}

.lt-ie8 i.icon,
.lt-ie8 .icon-before {
	display: inline;
}

i.icon {
	margin-right: 4px;
	margin-bottom: -5px;
}

.icon-before {
	padding-left: 30px;
}

.lt-ie8 .icon-before,
.lt-ie8 .icon-after {
	padding: 0 !important; /* we don't mind that IE6&7 don't get icons, but we don't want the padding */
}

i.icon,
.icon-before:before,
.icon-after:after {
	background-image: url("/ps/images/fullsite/icons/icon-sprite.png");
	background-repeat: no-repeat;
	background-position: 20px 20px; /* hides the icon sprite for a neutral (empty) icon */
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
}

.icon-before:before {
	position: absolute;
	top: 0;
	left: 0;
}

.icon-after:after {
	height: 16px;
	margin-bottom: -2px;
	margin-left: -3px;
}

a.icon-before:hover:before,
a.icon-after:hover:after {
	opacity: 0.7;
}

/* arrows */
.icon-arrow-right:after {
	background-position: 0 0;
	width: 14px;
}

.icon-before.icon-arrow-right {
	padding-left: 16px;
}

.icon-before.icon-arrow-right:before {
	background-position: 0 -1px;
	left: -9px;
	width: 14px;
}

.icon-arrow-left {
	padding-left: 16px;
}

.icon-arrow-left:before {
	background-position: -20px 0;
}

.icon-arrow-right-double:after {
	background-position: 0 -20px;
}

.icon-arrow-left-double {
	padding-left: 20px;
}

.icon-arrow-left-double:before {
	background-position: -20px -20px;
}

.icon-gallery-grid {
	padding-left: 20px;
}

.icon-gallery-grid:before {
	background-position: 0 -80px;
}

.icon-slideshow {
	padding-left: 20px;
}

.icon-slideshow:before {
	background-position: -80px -80px;
}

.icon-enlarge-white {
	padding-left: 20px;
}

.icon-enlarge-white:before {
	background-position: -20px -80px;
}

.icon-enlarge-blue {
	padding-left: 24px;
}

.icon-enlarge-blue:before {
	background-position: -40px -80px;
}

.icon-new-window {
	padding-right: 20px;
}

.icon-new-window:after {
	background-position: -60px -80px;
}

.icon-star:before {
	background-position: 0 -40px;
}

i.icon-send,
.icon-send:before {
	background-position: -20px -40px;
}

.icon-print:before {
	background-position: -40px -40px;
}

.icon-notes:before {
	background-position: -60px -40px;
}

.icon-pin {
	padding-left: 24px;
}

.icon-pin:before {
	background-position: -80px -40px;
}

i.icon-minimap {
    background-position: -160px -120px;
    height: 25px;
    width: 21px;
}

/* transport */
.icon-tubemap {
	padding-top: 2px;
}

.icon-tubemap:before {
	background-position: 0 -60px;
	border: 1px solid #e2e2e2;
}

i.icon-national-train-station,
.icon-national-train-station:before {
	background-position: -20px -60px;
}

i.icon-london-underground,
.icon-london-underground:before {
	background-position: -40px -60px;
}

i.icon-tram-station,
.icon-tram-station:before {
	background-position: -60px -60px;
}

i.icon-light-railway-station,
.icon-light-railway-station:before {
	background-position: -80px -60px;
}

i.icon-private-railway-station,
.icon-private-railway-station:before {
	background-position: -100px -60px;
}

i.icon-london-overground,
.icon-london-overground:before {
	background-position: -120px -60px;
}

i.icon-cable-car,
.icon-cable-car:before {
	background-position: -140px -60px;
}

i.icon-alert,
.icon-alert:before {
	background-position: 0 -100px;
}

.icon-filter:before {
	background-position: -100px -40px;
}

.icon-agent {
	padding-left: 24px;
}

.icon-agent:before {
	background-position: -120px -40px;
}

.icon-contact:before {
    background-position: -140px -40px;
}

.icon-upgrade:before {
    background-position: -160px -40px;
}

.icon-heart-blue:before {
    background-position: -180px -40px;
}

.icon-bell:before {
    background-position: -200px -40px;
}

.icon-rss:before {
    background-position: -220px -40px;
}

.icon-uncheckedbox,
.icon-checkedbox {
	padding-left: 20px;
}

.icon-uncheckedbox:before {
	background-position: 0 -160px;
}

.icon-checkedbox:before {
	background-position: -20px -160px;
}

/* search-results */
.icon-grid-dark:before {
	background-position: -100px -80px;
}

.icon-pin-dark:before {
	background-position: -120px -80px;
}

.icon-list-dark:before {
	background-position: -140px -80px;
}

.icon-photos,
.icon-photos-0,
.icon-floorplans,
.icon-floorplans-0,
.icon-tours,
.icon-tours-0 {
    padding-left: 18px;
}

.icon-photos:before {
    background-position: -160px -80px;
}

.icon-photos-0:before {
    background-position: -180px -80px;
}

.icon-floorplans:before {
    background-position: -200px -80px;
}

.icon-floorplans-0:before {
    background-position: -220px -80px;
}

.icon-tours:before {
    background-position: -240px -80px;
}

.icon-tours-0:before {
    background-position: -260px -80px;
}