/* ==========================================================================

	Layout Index

	!!! DO NOT CHANGE OR EDIT THIS SECTION FOR INDIVIDUAL ELEMENTS OR PAGES !!!
	!!! ALL ELEMENTS ARE GENERICALLY USED ACROSS THE SITE!!!

	==========================================================================

	- base styles
	- grid overlay for visual development
	- layout
		- grid
		- t-full-width
		- t-left-col
		- t-right-col
		- t-half-width
		- temp styles for frameworking
	- content

   ========================================================================== */

/* ==========================================================================
	Base styles: opinionated defaults
   ========================================================================== */

body {
	min-width: 240px;
}

/*
 * A better looking default horizontal rule
 */

hr {
	clear: both;
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
}

.lt-ie8 hr {
	height: 2px;
}

.l-grid-cell > hr,
.l-grid-row > hr{
	margin-top: 1em;
}

.l-grid-row > hr {
	float: left;
	width: 100%;
}

/* ==========================================================================
	grid overlay for visual development: add class 'grid' to <html> or <body> to show overlay
   ========================================================================== */

.grid .main:after {
	background: url("/ps/images/fullsite/placeholders/grid-columns-repeat.png") 0 0;
	content: "";
	display: block;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	z-index: -1;
}

/* ==========================================================================
	layout
   ========================================================================== */

.site-wrapper {
	margin: 0 auto;
	padding: 0 16px 16px;
	padding: 0 16px 1.6rem;
	position: relative;
	width: 976px;
}

.main {}

/* ==========================================================================
	layout - grid:    1 unit = 16px    see span* at end of layoutHelpers.css
   ========================================================================== */

.l-grid-row,
.row {
	margin-left: -16px;
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* clearfix properties duplicated here to save spamming class="clearfix" in mark-up */
.l-grid-row:before,
.l-grid-row:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}

.l-grid-row:after,
.row:after {
	clear: both;
}

.lt-ie8 .l-grid-row,
.lt-ie8 .row {
	clear: both;
	zoom: 1;
}

.l-grid-cell,
.span {
	background: none;
	float: left;
	min-height: 1px;
	margin-left: 16px;
}

.span {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* to fix hasLayout bug on ie6*/
.lt-ie7 .l-grid-cell,
.lt-ie7 .span {
	display: inline;
	height: 1%;
}

.one-col .l-grid-cell {
	width: 976px;
}

/* TODO: re-work this concept
.one-col .double {
	width: 976px;
}
*/

.three-col .l-grid-cell {
	width: 304px;
}

/* TODO: re-work this concept
.three-col .double {
	width: 656px;
}
*/

/*	==========================================================================
	layout - Template full width
	========================================================================== */

.t-full-width .primary-content,
.t-full-width .secondary-content {
	width: 976px; /* 61 units */
}

.t-full-width .one-col .l-grid-cell {
	width: 976px; /* 61 units */
}

.t-full-width .two-col .l-grid-cell {
	width: 480px; /* 30 units */
}

.t-full-width .three-col .l-grid-cell {
	width: 31.72%; /* 19.6r units */
}

.lt-ie8 .t-full-width .three-col .l-grid-cell {
    width: 314px; /* 19.6r units */
}

	.t-full-width .secondary-content .three-col .l-grid-cell {
		width: 96px; /* 6 units */
	}

}/*end of @media screen*/

/*	==========================================================================
	layout - template left column
	========================================================================== */

.t-left-col .primary-content {
	float: right;
	width: 704px; /* 44 units */
}

.t-left-col .primary-content .one-col .l-grid-cell {
	width: 704px; /* 44 units */
}

.t-left-col .primary-content .two-col .l-grid-cell {
	width: 344px; /* 21.5 units */
}

.t-left-col .primary-content .three-col .l-grid-cell {
	width: 224px; /* 14 units */
}

.t-left-col .primary-content .four-col .l-grid-cell {
	width: 164px; /* 10.25 units */
}

.t-left-col .secondary-content {
	float: left;
	width: 256px; /* 16 units */
}

.t-left-col .secondary-content .one-col .l-grid-cell {
	width: 256px; /* 16 units */
}

.t-left-col .secondary-content .two-col .l-grid-cell {
	width: 120px; /* 7.5 units */
}

.t-left-col .secondary-content .two-col .l-grid-cell {
	width: 120px; /* 7.5 units */
}


/* 	==========================================================================
	layout - template right column
	========================================================================== */

.t-right-col .primary-content {
	float: left;
	width: 656px; /* 41 units */
}

.t-right-col .primary-content .one-col .l-grid-cell {
	width: 656px; /* 41 units */
}

.t-right-col .primary-content .two-col .l-grid-cell {
	width: 320px; /* 20 units */
}

.t-right-col .primary-content .three-col .l-grid-cell {
	width: 208px; /* 13 units */
}

.t-right-col .primary-content .three-col .double {
	width: 432px; /* 27 units */
}

.t-right-col .secondary-content {
	float: left;
	margin-left: 16px;
	width: 304px; /* 19 units */
}

.t-right-col .secondary-content .one-col .l-grid-cell {
	width: 304px; /* 19 units */
}

.t-right-col .secondary-content .two-col .l-grid-cell {
	width: 144px; /* 9 units */
}

.t-right-col .secondary-content .three-col .l-grid-cell {
	width: 96px; /* 6 units */
}

/*	==========================================================================
	temp_ styles for frameworking
	TODO: remove these styles eventually
	========================================================================== */

.module {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	border: 2px solid #ccc;
	min-height: 50px;
	margin: 0;
	padding: 8px 14px;
}

/* ==========================================================================
	content
   ========================================================================== */

.sect {
	clear: left;
	margin: 0 0 2em;
}

.sect:last-child {
	margin: 0 0 1em;
}

.lt-ie8 .sect {
	position: relative;
	zoom: 1;
}

/* ==========================================================================
	a two-column list layout, like the property details 'key features'
   ========================================================================== */

.list-two-col,
.list-two-col {
	border-width: 0;
	border-bottom-width: 1px;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.list-two-col li {
	display: inline-block;
	margin: 0 0 0 -4px;
	padding: 0;
	vertical-align: top;
}

.list-two-col li:after {
	border-width: 0;
	border-top-width: 1px;
	content: "";
	height: 0;
	position: absolute;
	top: -1px;
	left: 0;
}

.lt-ie8 .list-two-col li {
	display: inline;
}

.list-two-col.list-style-square li:before {
	left: 4px;
}

.list-two-col.list-style-square li.last:before {
	border: none;
}

/* ==========================================================================
	message boxes
   ========================================================================== */

.alert {
	background-color: #fff4d4;
	border: 1px solid #ffbf00;
	position: relative;
}

.alert + hr {
	display: none;
}

.alert.arrow-btm-left:after,
.alert.arrow-btm-left:before {
	content: "";
	border: 16px solid transparent;
	position: absolute;
	bottom: -16px;
	left: 54px;
	z-index: 1;
}

.alert.arrow-btm-left:before {
	margin-bottom: -16px;
}

.alert.arrow-btm-left:after {
	margin-bottom: -15px;
}

.alert.arrow-btm-left:after {
	border-top-color: #fff4d4;
}

.alert.arrow-btm-left:before {
	border-top-color: #ffbf00;
}