/*helpers*/
.right {
	float: right;
}


html {
	font-size: 10px;
	font-family: Arial, sans-serif;
}

body {
	font-size: 1.4rem;
	background-color: #f0f0f0;
	background: linear-gradient(to bottom, #f8f8f8 0%,#f0f0f0 100%);
	background-image: url(../images/bkg.png);
	background-repeat: no-repeat;
	background-position-x: center;
	text-shadow: 0 1px 1px #fff;
}

div.wrapper {
	border: 1px solid #cccccc;
	background: #f7f7f7;
	padding: 24px;
	width: 768px;
	margin: 200px auto auto auto;
	padding-bottom: 32px;
}

div.wrapper-large {
	margin-top: 160px;
	width: 1024px;
}

/*typography*/
h2 {
	font-weight: bold;
	font-size: 2.4rem;
	margin-bottom: 24px;
}

h2:after {
	display: block;
	content: "";
	margin-top: 0.3rem;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}

.title-specific {
	color: #004889;
}

/*Forms*/

form {
	font-size: 1.6rem;
}

dt, dd {
	display: inline-block;
}

dd {
	width: 128px;
}

dl.largeform dd {
	width: 196px;
}

dd input {
	width: 100%;
	padding: 6px;
	vertical-align: middle;
	border: 1px solid #dddddd;
}

dd input:focus {
	outline: none;
}

dt {
	font-weight: bold;
	margin-right: 16px;
	width: 128px;
}

dl.largeform dt {
	width: 240px;
}

.di {
	display: inline-block;
	margin-right: 41px /*add 9px for padding/box stuff on input to left*/
}

dl.largeform .di {
	display: block;
	margin-right: 0;
}

.di + .di {
	margin-top: 16px;
}

.btn, input[type="submit"] {
	background-color: #196fb6;
	background-image: url(../images/btn-background.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	border: 1px solid #003f72;
	border-bottom-color: #003159;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 0;
	padding: 5px 32px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #002241;
	vertical-align: middle;
}


/*svg canvas*/
#paper {
	width: 696px;
	height: 596px;
}

/*result mgmt*/
#outcode-results {
	display: none;
}
