@(areaFilterForm: Form[AreaFilter])
@import helper._

@main("London Lettings Wizard") {

<div class="wrapper">
	<h2>Where should I live in London? <span class="title-specific">My basic requirements</span></h2>
	
	@form(routes.AreaController.areaPriceFiltered()) {
	
		<dl class="largeform">
			<span class="di">	
				<dt>I need this many bedrooms...</dt>
				<dd><input type="text" name="bedrooms"/></dd>
			</span>
			<span class="di">
				<dt>I can pay this much per week...</dt>
				<dd><input type="text" name="price"/></dd>
				<input type="submit" class="right" value="Search">
			</span>
		</dl>

	}
</div>
}

