@(areas:  NavigableMap[Integer, Area], topAreas: List[Area], filterData: Map[String, String])
@import java.util

@main("London Lettings Wizard") {

<div class="wrapper wrapper-large">
	
	<h2>Where should I live in London? <span class="title-specific">Your results</span></h2>
	@*<h2>@areas.size() area(s)</h2>*@
	</br>
	
	
	
	<div id="legend">
		<div class="box g6"></div><p>Great!</p>
		<div class="box g5"></div><p>Decent</p>	
		<div class="box g4"></div><p>So-so</p>	
		<div class="box g3"></div><p>Meh</p>	
		<div class="box g2"></div><p>Rubbish!</p>
		<div class="box g1"></div><p>Too expensive</p>	
		
	</div>
	
	
	
	
	
	<ul id="outcode-results">
	    @for(area <- areas) {
	    <li class="outcode-scores">
	        <span class="outcode-id">@area._2.name</span>
	        <span class="score">@area._1</span>
	    </li>
	    }
	</ul>
	
	<div id="init">
		<div class="segment init">
			<h3>Based on these requirements:</h3>	
			<ul>
			    <li>
			        <span class="val-label">Transport:</span> <span class="value-transform">@filterData.get("rateTransport")</span>
			    </li>
			
			    <li>
			        <span class="val-label">Green spaces:</span> <span class="value-transform">@filterData.get("greenSpaces")</span>
			    </li>
			
			    <li>
			        <span class="val-label">Nightlife:</span> <span class="value-transform">@filterData.get("nightLife")</span>
			    </li>
			
			    <li>
			        <span class="val-label">Value for money:</span> <span class="value-transform">@filterData.get("moneyValue")</span>
			    </li>
			</ul>
		</div>
		
		<div id="paper"><p id="postcode-identifier">Hover over an area to see its postcode</p></div>
		
	
		<div class="segment init">
			<h3>We recommend these areas to you:</h3>
			<ul id="recommendation">
			@for(topArea <- topAreas) {
				<li class="outcode-result">
				   <span class="outcode-name">@topArea.name</span>
				   <span class="outcode-description">@topArea.description</span>
				</li>
			}
			</ul>
		</div>
		
	</div>
	
	<div id="dialog" style="display:none;">
		<div class="segment">
			<h3>Summary for <span class="title-specific">Canary Wharf, E14</span></h3>
			<p>The area made up of this big loop in the Thames was once a thriving community of dock workers, centred around the West India Docks, 
			East India Docks and, later, Millwall Dock. Mass decline in the 70s left the Isle of Dogs impoverished and there is still a wide 
			chasm today between the housing needs of traditional East Enders and the new wave of professionals lured by the building of shiny 
			office blocks in Canary Wharf.</p>
			<p>This purpose-built business district is home to the UK's second tallest building One Canada Square 
			(recently over-taken by the Shard in London Bridge) and the cluster of towering structures is an impressive sight from many high 
			viewpoints around London (especially Greenwich Park).</p>
		</div>

		
		<div id="streetview" class="segment">
			<h4>Street views in this area:</h4>
			<div id="streetview-gallery">
				<img></img>
				<img></img>
				<img></img>
				<img></img>
			</div>			
		</div>
		
		<dl class"amenities-panel segment">
			<dt><img /></dt>
			<dd>Travel</dd>
			
			<dt><img /></dt>
			<dd>Travel</dd>
			
			<dt><img /></dt>
			<dd>Travel</dd>
			
			<dt><img /></dt>
			<dd>Travel</dd>			
		</dl>
		
		<ul class="properties-panel">
			<li>
				<img class="property-photo" />
				<span class="prop-title">Bartlett Park</span>
				<span class="prop-price">£1950pcm</span>
				<span class="prop-desc">3 bedroom apartment</span>
			</li>
			<li>
				<img class="property-photo" />
				<span class="prop-title">Marsh Wall</span>
				<span class="prop-price">£2500pcm</span>
				<span class="prop-desc">3 bedroom apartment</span>
			</li>
			<li>
				<img class="property-photo" />
				<span class="prop-title">Westferry Rd</span>
				<span class="prop-price">£2850pcm</span>
				<span class="prop-desc">3 bedroom detached house</span>
			</li>
			<li>
				<img class="property-photo" />
				<span class="prop-title">Elndra Dock Rd</span>
				<span class="prop-price">£3250pcm</span>
				<span class="prop-desc">4 bedroom maisonette</span>
			</li>
		</ul>
		
	</div>
	
	
	
	<p class="clear"><a class="btn right">Find properties</a></p> 
	


</div>

    
<script src="@routes.Assets.at("javascripts/results.js")" type="text/javascript"></script>


}
